<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Cocktail Roulette</title>
</head>
<body>

    <h1> The Cocktail Roulette</h1>

    <div class="form">
        <form>
            <input formaction="/" type="submit" value="Daily Drink"> 
            <input formaction="/random" type="submit" value="Surprise Yourself!">
            <input formaction="/search-by-ingredient" type="submit" value="Search for drinks with the ingredient you have">
        </form>
    </div>  