<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Cocktail Roulette</title>
</head>
<body>

    <div class="header">
        <h1>The Cocktail Roulette</h1>
        <form>
            <input formaction="/" type="submit" value="Daily Drink"> 
            <input formaction="/random" type="submit" value="Random Drink Generator">
            <input formaction="/search-by-ingredient" type="submit" value="Search by ingredient">
            <input formaction="/search-by-name" type="submit" value="Search by name">
            <input formaction="/list" type="submit" value="Your Cocktail List">
        </form>
    </div>

<main>